@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: #8c8c8c;
}

.image-hero-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background: url('/.resources/img/mhWilds/back.webp') no-repeat center center;
	background-size: cover;
}

#container {
	background-color: rgba(0, 0, 0, 0.55);
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

#menu {
	width: 11%;
	min-width: 5%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);

}

#menu a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	word-wrap: break-word;
	font-family: Segoi-UI;
}

#menu a:hover {
	background-color: #69d7fb;
	color: black;
}

#homeLink {
	background-color: #41d0ff;
	color: black !important;
	padding-bottom: 10px;
	padding-top: 5px;
}

#content {
	width: 89%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	height: max-content;
	flex-flow: column;
}

.title {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 0px;
	display: flex;
	justify-content: center;
}

.title h1 {
	color: white;
	text-shadow: 0px 2px 4px #000000;
	margin-top: 2px;
	margin-bottom: 2px;
}

.title>img {
	height: 2.5rem;
	margin-left: 0.5rem;
	align-self: center;
}

#fail {
	position: fixed;
	right: 0;
	top: 20px;
	z-index: 99;
}

#fail img {
	width: 10em;
	rotate: 20deg;
}

#icons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 1em;
}

#icons>img {
	height: 18rem;
}

#graph {
	width: 80%;
	margin: auto;
	background-color: rgba(60, 58, 58, 0.92);
}

#weaponStats {
	margin-top: 2rem;
}

#weaponStats h1 {
	border-bottom: 1px solid white;
	color: white;
	width: 80%;
	margin: auto;
}

#weaponStats h2 {
	color: white;
	width: 80%;
	margin: auto;
	margin-top: 2rem;
}

#weaponStats h2>span {
	border-bottom: 1px solid white;
}

#desglose {
	display: flex;
	justify-content: space-evenly;
	color: white;
	font-family: Segoi-UI;
}

#desglose h1 {
	margin: 0;
	margin-right: 0.5em;
}

#desglose .player_heading {
	border-bottom: 1px solid white;
	margin-bottom: 0.5em;
	margin-top: 1em;
	display: flex;
}

#desglose .player_heading>img {
	height: 3em;
}

#desglose span {
	font-size: 1.1em;
}

#filters {
	width: 80%;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	font-family: Segoi-UI;
	text-align: center;
	color: white;
	font-size: 1.3em;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.filter {
	width: 33.33%;
	margin-bottom: 5px;
}

.listTable {
	background-color: white;
	width: 80%;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	font-family: Segoi-UI;
	text-align: center;
}

.listTable td {
	font-size: 1.4em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	border-top: 1px solid #DFDFDF;
	width: 33.33%
}

.listTable a,
.listTable a:visited {
	text-decoration: underline;
	color: #002eb7;
}

tr:first-child {
	background-color: #212529 !important;
	font-size: 1.6em;
	color: white;
	border-top: none;
}

tr:nth-child(odd) {
	background: #f9f9f9;
}

#content:last-child {
	padding-bottom: 30px;
}

#top {
	width: 92%;
	display: flex;
	margin: auto;
	margin-top: 1em;
	justify-content: space-evenly;
}

#bot {
	width: 92%;
	display: flex;
	margin: auto;
	margin-top: 1em;
	justify-content: space-evenly;
}

#bot h1 {
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
	color: white;
}

#bot img {
	height: 18rem;
}

#hunterPhoto {
	height: 30em;
}

#hunterPhoto>img {
	height: 100%;
	width: auto;
}

#dataTop {
	color: white;
	font-size: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.complem {
	margin-bottom: 1em;
	margin-right: 5%;
	flex-basis: 40%;
	margin-left: 5%;
}

.complem h1 {
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
}

.filetype {
	border-bottom-left-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
	background-color: #C2BEFF;
}

.dropzone {
	width: 70%;
	border: 0.15em solid #396B84;
	border-radius: 0.7em;
	background-color: #FDFDFD;
	margin: auto;
	text-align: center;
	margin-top: 3em;
	display: flex;
	flex-flow: column;
}

.dropzone div:nth-child(1) {
	margin-top: 4em;
	font-size: 1.1em;
}

.fileInput {
	color: #28538F;
	margin-top: 2em;
	display: inline-block;
}

#fileToUpload {
	font-size: 1.15em;
	width: 100%;
	text-align: center;
}

#progressBar {
	width: 40%;
	margin: auto;
}

.enviar {
	padding: 5px;
	border-radius: 5px;
	width: 40%;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	margin: auto;
	margin-bottom: 1.3em;
	margin-top: 1em;
}

.monsterCell {
	margin-top: 20px;
	margin-left: 3%;
	width: 16.66666667%;
	display: flex;
	flex-flow: column;
	max-width: 20em;
}

.monsterCell:hover {
	box-shadow: 0 0 0 1px #9f9f9f, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(227, 227, 227, 0.8);
	transform: translateY(-2px);
}

.monsterCell a img {
	width: 100%;
	animation: fadeIn 1s ease;
}

.monsterCell a {
	color: white;
	font-size: 1.25em;
	text-decoration: none;
	display: flex;
	font-weight: 600;
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.monsterCell a:nth-of-type(2) {
	flex-grow: 1;
	padding: 4px;
}



@media only screen and (max-width: 768px) {
	#container {
		display: block;
	}

	#content {
		width: 100%;
		overflow: initial;
	}

	#menu a {
		font-size: 0.9em;
		flex-grow: 1;
		margin-right: 5px;
	}

	#menu {
		width: 100%;
		display: flex;
	}

	.filter select {
		max-width: 6em;
	}

	#filters {
		width: 100%;
	}

	.listTable {
		width: 95%;
		font-size: 0.8em;
	}

	.title h1 {
		font-size: 1.5em;
	}

	#fail img {
		width: 7em;
	}

	#fail {
		position: absolute;
		right: 1em;
		top: 9em;
	}

	#graph {
		width: 100%;
	}

	#desglose {
		flex-flow: wrap;
		width: 100%;
		font-size: 0.8em;
	}

	#desglose div {
		width: 80%;
	}

	#icons {
		width: 100%;
		flex-wrap: wrap;
	}

	#icons img {
		width: 50%;
	}

	#top {
		width: 100%;
		flex-flow: column;
	}

	#hunterPhoto {
		width: 90%;
		margin: auto;
		height: auto;
		margin-bottom: 1em;
	}

	#hunterPhoto img {
		width: 100%;
		height: auto;
	}

	#dataTop {
		font-size: 1.2em;
	}

	.complem {
		width: 80%;
		margin: auto;
		margin-bottom: 1em;
	}

	#bot {
		width: 100%;
		flex-wrap: wrap;
	}

	#bot div {
		width: 70%;
	}

	#bot img {
		width: 100%;
	}

	.dropzone {
		width: 90%;
	}

	.dropzone div:nth-child(1) {
		font-size: 1.2em;
	}

	.dropzone #name {
		width: 70%;
	}

	#fileToUpload {
		text-align: initial;
	}

	.fileInput {
		margin: auto;
		margin-top: 2em;
		width: 70%;
	}

	.enviar {
		width: 70%;
	}

	#progressBar {
		width: 70%;
	}

	.monsterCell {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}